<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440569980458-q2o26mpjjvtpdmleqg82tjkcm7sqhac9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440569980458-q2o26mpjjvtpdmleqg82tjkcm7sqhac9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440569980458-8mt4c1vmrc3i30p52fjo48gp76ef3ubg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfa0o9rWXo2W22RO_THn1U1EZlHV7m9ok</string>
	<key>GCM_SENDER_ID</key>
	<string>440569980458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.commontech.ventwithstrangers</string>
	<key>PROJECT_ID</key>
	<string>vent-with-strangers-2acc6</string>
	<key>STORAGE_BUCKET</key>
	<string>vent-with-strangers-2acc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440569980458:ios:24824639645dbfdbd78553</string>
	<key>DATABASE_URL</key>
	<string>https://vent-with-strangers-2acc6.firebaseio.com</string>
</dict>
</plist>